

 
 .brand-container3 {
     display: flex;
    /* position: relative; */
    
 }
 .brand-bar4{
     border: none;
       /* position: relative;
         top: 240px; */
         margin-top: 60px;
         width: 250px;
         height: 200px;
         background-color: #eeeeee;
 
 }
  
 .brand-bar4 .brand-head3{
     display: flex;
     flex-direction: row;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 
     font-size: 15px;
     margin-left: 15px;
     margin-top: 8px;
     font-weight: bold;
     
 }
 
 .brand-brandlist{
     height: auto;
     padding: 0;
     width: 100%;
 }
 .brand-brandlist .brand-row1{
     width: 100%;
     height: 37px;
     border: 1px thin #eeeeee;
     list-style-type: none;
     margin: 0%;
     display: flex;
     flex-direction: row;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 14px;
     justify-content: center;
     align-items: center;
 }
 
 .brand-brandlist .brand-row1:hover{
     cursor: pointer;
     background-color: #cfd3ce;
 }
 
 .brand-row1 #brand-title1{
     flex: 30%;
     margin-left: 5%;
 
 }
 
 .brand-row1 #brand-total1{
     margin-right: 5%;
 }
 
 .more-cont{
    border: none;
      /* position: relative;
        top: 290px; */
        margin-top: 60px;
        width: 250px;
        height: 25px;
        background-color: #eeeeee;

}
 .more-cont .more-head4{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    font-size: 15px;
    margin-left: 15px;
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
 }
 
 
 
 
 
 
 
 
 
 
 
 