
.shoplist-container{
    margin-left: auto;
    display: flex;

}
.shoplist-row{
    position: relative;
    
    border: black;
       position: relative;
         top: 250px;
         
         width: 250px;
   
}
   

